* {
   margin: 0;
   padding: 0;
   font-family: Montserrat;
}

html {
   font-size: 10px;
   overflow-x: hidden;
}

a {
   text-decoration: none;
}

li {
   list-style-type: none;
}

:root {
   --container-padding: 12rem;
   --black: #19242F;
   --beige: #BFA470;
   --gold: #DBC08D;
   --gray: #F8F8F8;
}

.btn {
   background-color: var(--gold);
   border-radius: 10rem;
   padding: 2rem 3rem;
}

.btn {
   position: relative;
   width: max-content;
   display: flex;
   align-items: center;
   margin-top: 3.5rem;
   padding-right: 9.3rem;
   font-size: 1.7rem;
   font-weight: 700;
   letter-spacing: .04rem;
   color: var(--black);
   transition: .6s ease;
}

.btn::after {
   content: '';
   position: absolute;
   top: auto;
   right: 3rem;
   width: 2.4rem;
   height: 2.4rem;
   background-image: url('/img/ArrowRight.svg');
   transition: .6s ease;
}

.btn:hover {
   background-color: #BFA470;
}

.btn:hover::after {
   transform: rotate(-45deg) scale(1.1);
}

.btn:active {
   box-shadow: 4px 6px 6px 4px rgba(0, 0, 0, 0.25) inset;
   transform: translateY(.4rem);
}

.btn:active::after {
   transform: translateX(2rem) translateY(-2rem) rotate(-45deg) scale(1.1);
   opacity: 0;
}



.main .contacts .container {
   padding: 4rem var(--container-padding) 10rem;

   .path {
      font-size: 1.2rem;
      font-weight: 400;
      letter-spacing: .264rem;

      a {
         color: var(--black);
         opacity: .25;
      }

      span a {
         opacity: 1;
      }
   }

   .contacts-title {
      margin-top: 2.2rem;
      color: var(--Black, #19242F);
      font-family: Montserrat;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 133.4%;
      letter-spacing: 0.64px;
   }

   .contacts_cards-box {
      display: flex;
      flex-wrap: wrap;
      row-gap: 2rem;
      column-gap: 4.2rem;
      margin-top: 3rem;

      .card {
         box-sizing: border-box;
         width: 260px;
         padding: 2rem 4.3rem 3.1rem 3rem;
         background-color: var(--gray);
         border-radius: 1.6rem;

         p {
            color: rgba(25, 36, 47, 0.50);
            font-family: Montserrat;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 185.9%;
            letter-spacing: 0.24px;
         }

         span,
         span p {
            color: var(--Black, #19242F);
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 133.4%;
            letter-spacing: 0.32px;
         }
      }
   }

   .ya-map {
      margin-top: 2rem;

      iframe {
         border-radius: 1.6rem;
      }
   }

   .consult {
      margin-top: 6rem;
      width: 100%;

      .consult-container {
         box-sizing: border-box;
         display: flex;
         flex-direction: column;
         height: 330px;
         padding: 5rem 6rem 4.2rem;
         background: linear-gradient(292deg, rgba(255, 255, 255, 0.02) 50%, rgba(25, 36, 47, 0.00) 50%), #19242F;
         border-radius: 1.6rem;

         h2 {
            color: #FFF;
            text-align: center;
            font-size: 26px;
            font-style: normal;
            font-weight: 600;
            line-height: 133.4%;
            letter-spacing: 0.52px;
         }

         span {
            margin-top: 1.8rem;
            color: #FFF;
            text-align: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 151.4%;
            letter-spacing: 0.36px;
         }

         .form {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 3rem;

            input {
               width: 237px;
               padding: 1.9rem 4rem;
               background: rgba(255, 255, 255, 0.05);
               border-radius: 16px;
               border: none;
               color: #fff;
            }

            button {
               display: flex;
               height: 60px;
               border: none;
               margin-top: 0;
               cursor: pointer;
            }
         }

         p {
            margin-top: 1.7rem;
            color: rgba(255, 255, 255, 0.25);
            text-align: center;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 151.4%;
            letter-spacing: 0.24px;
         }
      }
   }
}

.main .rec-viewed {
   .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 556px;
      padding: 7rem 5rem 8.4rem;
      background-color: var(--gray);

      .arrow {
         padding: 1.3rem;
         border-radius: 100%;
         background-color: #fff;
         transition: .6s ease;
      }

      .arrow_left {
         transform: rotate(180deg);
      }

      .arrow_left:hover {
         transform: translateX(-.5rem) rotate(180deg);
         background-color: var(--gold);
      }

      .arrow_right {
         transition: .6s ease;
      }

      .arrow_right:hover {
         transform: translateX(.5rem);
         background-color: var(--gold);
      }

      .rec-viewed__container {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         width: 100%;
         height: 100%;
         padding-left: 2rem;
         padding-right: 2rem;

         h2 {
            font-size: 2.6rem;
            font-weight: 600;
            letter-spacing: .052rem;
         }

         .cards-box {
            display: flex;
            column-gap: 4rem;
            margin-top: 3rem;

            .card {
               box-sizing: border-box;
               width: 300px;
               background-color: #fff;
               border-radius: 1.6rem;
               cursor: pointer;

               img {
                  width: 100%;
               }

               .card-content {
                  box-sizing: border-box;
                  padding: 2.2rem 3rem 1.9rem;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  color: var(--black);

                  .textile-name {
                     font-size: 1.8rem;
                     font-weight: 600;
                     letter-spacing: .036rem;
                  }

                  .textile-desc {
                     margin-top: 1.1rem;
                  }

                  .textile-desc .textile-price {
                     font-size: 2.2rem;
                     font-weight: 600;
                     letter-spacing: .044rem;
                  }

                  .textile-desc .textile-size {
                     margin-left: 1.7rem;
                     color: rgba(25, 36, 47, 0.50);
                  }

                  .btn {
                     width: 100%;
                     box-sizing: border-box;
                  }
               }
            }
         }
      }
   }
}

.footer {
   margin-top: 0;
}


@media (max-width: 960px) {
   :root {
      --container-padding: 3.9rem;
   }

   .main .contacts .container .consult .consult-container {
      height: 640px;
      justify-content: space-between;

      .form {
         flex-direction: column;

         input {
            margin-top: 1.5rem;
            width: 100%;
         }

         button {
            margin-top: 2rem;
            width: 100%;
         }
      }
   }

   .main .rec-viewed .container {
      padding-left: 1.4rem;
      padding-right: 1.4rem;

      .rec-viewed__container .cards-box {
         column-gap: 2rem;
      }
   }
}


@media (max-width: 480px) {
   :root {
      --conatiner-padding: 3rem;
   }

   .main .contacts .container .contacts_cards-box .card {
      width: 100%;
   }

   .main .contacts .container .consult .consult-container {
      h2 {
         color: #FFF;
         text-align: center;
         font-family: Montserrat;
         font-size: 20px;
         font-style: normal;
         font-weight: 600;
         line-height: 133.4%;
         letter-spacing: 0.4px;
      }

      span {
         color: #FFF;
         text-align: center;
         font-family: Montserrat;
         font-size: 14px;
         font-style: normal;
         font-weight: 400;
         line-height: 151.4%;
         letter-spacing: 0.28px;
      }
   }

   .main .rec-viewed .container {
      padding-left: .5rem;
      padding-right: .5rem;

      .rec-viewed__container {
         padding-left: 0rem;
      }
   }
}