* {
   margin: 0;
   padding: 0;
   font-family: Montserrat;
}

html {
   font-size: 10px;
}

a {
   text-decoration: none;
}

li {
   list-style-type: none;
}

:root {
   --container-padding: 12rem;
   --black: #19242F;
   --beige: #BFA470;
   --gold: #DBC08D;
   --gray: #F8F8F8;
}

.none-2 {
   display: none;
}

.btn {
   background-color: var(--gold);
   border-radius: 10rem;
   padding: 2rem 3rem;
}

.btn {
   position: relative;
   width: max-content;
   display: flex;
   align-items: center;
   margin-top: 3.5rem;
   padding-right: 9.3rem;
   font-size: 1.7rem;
   font-weight: 700;
   letter-spacing: .04rem;
   color: var(--black);
   transition: .6s ease;
}

.btn::after {
   content: '';
   position: absolute;
   top: auto;
   right: 3rem;
   width: 2.4rem;
   height: 2.4rem;
   background-image: url('/img/ArrowRight.svg');
   transition: .6s ease;
}

.btn:hover {
   background-color: #BFA470;
}

.btn:hover::after {
   transform: rotate(-45deg) scale(1.1);
}

.btn:active {
   box-shadow: 4px 6px 6px 4px rgba(0, 0, 0, 0.25) inset;
   transform: translateY(.4rem);
}

.btn:active::after {
   transform: translateX(2rem) translateY(-2rem) rotate(-45deg) scale(1.1);
   opacity: 0;
}


.main .clause {

   .subject {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 4.7rem;
      margin-bottom: 3.5rem;

      span {
         text-align: left;
         font-size: 1.2rem;
         font-weight: 400;
         letter-spacing: .264rem;
         color: var(--black);
         text-transform: uppercase;
      }

      .share {
         font-size: 1.2rem;
         font-weight: 400;
         letter-spacing: .264rem;
         color: var(--black);
         text-transform: uppercase;

         a {
            display: flex;
            align-items: start;
            column-gap: 2rem;

            img {
               margin-top: -7.5%;
               padding: .8rem;
               background-color: var(--gray);
               border-radius: 100%;
            }
         }
      }
   }

   .subject__container {
      padding: 0 var(--container-padding);
   }

   .clause-content {
      font-size: 1.8rem;
      font-weight: 400;
      letter-spacing: .036rem;
      line-height: 27px;
      color: var(--black);

      .clause-title {
         font-size: 3.2rem;
         font-weight: 600;
         letter-spacing: .064rem;
         width: 709px;
         line-height: 42.688px;
      }

      h3 {
         margin-bottom: .5rem;
      }

      .text-block {
         width: 760px;
         margin-top: 3.3rem;
      }

      .text-block:last-child {
         margin-top: 5rem;
      }

      .img-text-block {
         display: flex;
         column-gap: 10rem;
         margin-top: 5rem;

         h3 {
            margin-bottom: 2.5rem;
         }
      }

      .text-img-block {
         display: flex;
         column-gap: 10rem;
         margin-top: 4rem;
         text-align: end;

         h3 {
            margin-bottom: 2.5rem;
         }

         img {
            width: 560px;
            height: 420px;
         }
      }
   }

   .clause__container {
      padding: 0 var(--container-padding);
   }

   .read-more {
      margin-top: 10rem;
      overflow: hidden;

      .read-more__title {
         font-size: 2.6rem;
         font-weight: 600;
         letter-spacing: .052rem;
         margin-bottom: 3rem;
      }

      .cards-box {
         display: flex;
         column-gap: 4rem;
         width: min-content;
         margin-top: 4rem;

         .card {
            width: 36rem;
            height: 40rem;
            background-image: url("/img/c1.png");
            background-color: var(--black);
            background-repeat: no-repeat;
            background-size: 100%;
            border-radius: 1.6rem;
            cursor: pointer;
            transition: .4s;

            .card-holder {
               box-sizing: border-box;
               width: 100%;
               height: 100%;
               padding: 4rem 4rem 4rem 4rem;
               display: flex;
               flex-direction: column;
               justify-content: space-between;

               .card-top {
                  position: relative;
                  align-self: flex-end;

                  a {
                     display: block;
                     position: absolute;
                     top: -2rem;
                     right: -1rem;
                     background-color: var(--gold);
                     padding: 1.3rem;
                     width: 2.4rem;
                     height: 2.4rem;
                     border-radius: 50%;
                  }
               }

               .btn::after {
                  left: 25%;
               }

               .card-row {
                  flex-basis: 16.8rem;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;

                  .new-title {
                     color: #fff;
                     font-size: 1.8rem;
                     font-weight: 600;
                     letter-spacing: .036rem;
                  }

                  .new-description {
                     font-size: 1.4rem;
                     font-weight: 300;
                     letter-spacing: .028rem;
                     color: #fff;
                     opacity: .5;
                  }

                  .new-date {
                     font-size: 1.2rem;
                     font-weight: 600;
                     letter-spacing: .108rem;
                     color: #fff;
                  }
               }
            }
         }

         .card:hover {
            transform: translateY(-.4rem);
         }

         .card:nth-child(2) {
            background-image: url('/img/c2.png');
         }

         .card:nth-child(3) {
            background-image: url('/img/c3.png');
         }

         .card:nth-child(4) {
            background-image: url('/img/c4.png');
         }

         .card:nth-child(5) {
            background-image: url('/img/c5.png');
         }

         .card:nth-child(6) {
            background-image: url('/img/c1.png');
         }
      }

      .cards-box-btn {
         display: flex;
         justify-content: center;
      }

      .slider {
         padding-right: var(--container-padding);
         margin-top: 2.5rem;
         margin-bottom: 6.6rem;
         display: flex;
         align-items: center;
         justify-content: space-between;

         .arrow {
            padding: 1.3rem;
            background-color: var(--gray);
            border-radius: 100%;
         }

         .arrow_left {
            transform: rotate(180deg);
         }

         .slider-line {
            position: relative;
            width: 90%;
            height: 4px;
            background-color: var(--gray);
         }

         .slider-line::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--gold);
            width: 170px;
            height: 4px;
         }
      }
   }

   .read-more__container {
      padding: 0 0 0 var(--container-padding);
   }
}

.main .rec-viewed {
   .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 556px;
      padding: 7rem 5rem 8.4rem;
      background-color: var(--gray);

      .arrow {
         padding: 1.3rem;
         border-radius: 100%;
         background-color: #fff;
         transition: .6s ease;
      }

      .arrow_left {
         transform: rotate(180deg);
      }

      .arrow_left:hover {
         transform: translateX(-.5rem) rotate(180deg);
         background-color: var(--gold);
      }

      .arrow_right {
         transition: .6s ease;
      }

      .arrow_right:hover {
         transform: translateX(.5rem);
         background-color: var(--gold);
      }

      .rec-viewed__container {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         width: 100%;
         height: 100%;
         padding-left: 2rem;
         padding-right: 2rem;

         h2 {
            font-size: 2.6rem;
            font-weight: 600;
            letter-spacing: .052rem;
         }

         .cards-box {
            display: flex;
            justify-content: space-between;
            margin-top: 3rem;

            .card {
               box-sizing: border-box;
               width: 300px;
               background-color: #fff;
               border-radius: 1.6rem;
               cursor: pointer;

               img {
                  width: 100%;
               }

               .card-content {
                  box-sizing: border-box;
                  padding: 2.2rem 3rem 1.9rem;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  color: var(--black);

                  .textile-name {
                     font-size: 1.8rem;
                     font-weight: 600;
                     letter-spacing: .036rem;
                  }

                  .textile-desc {
                     margin-top: 1.1rem;
                  }

                  .textile-desc .textile-price {
                     font-size: 2.2rem;
                     font-weight: 600;
                     letter-spacing: .044rem;
                  }

                  .textile-desc .textile-size {
                     margin-left: 1.7rem;
                     color: rgba(25, 36, 47, 0.50);
                  }

                  .btn {
                     width: 100%;
                     box-sizing: border-box;
                  }
               }
            }
         }
      }
   }
}

.footer {
   margin-top: 0;
}


@media (max-width: 960px) {
   :root {
      --container-padding: 3.9rem;
   }

   .rec-viewed,
   .read-more {
      display: none;
   }

   .img-text-block img {
      width: 300px;
      height: 225px;
   }

   .main .clause .clause-content {
      .clause-title {
         color: var(--Black, #19242F);
         font-family: Montserrat;
         font-size: 26px;
         font-style: normal;
         font-weight: 600;
         line-height: 133.4%;
         letter-spacing: 0.52px;
      }

      p {
         color: var(--Black, #19242F);
         font-family: Montserrat;
         font-size: 14px;
         font-style: normal;
         font-weight: 400;
         line-height: 185.9%;
         letter-spacing: 0.28px;
      }
   }

   .main .clause .clause-content .text-img-block {
      flex-direction: column;
      row-gap: 1rem;
      text-align: left;

      img {
         width: 100%;
         height: 420px;
      }
   }

   .footer {
      margin-top: 6rem;
   }
}


@media (max-width: 480px) {
   :root {
      --container-padding: 3rem;
   }

   .none-2 {
      display: block;
   }

   .main .clause .subject .share .share-link {
      display: none;
   }

   .main .clause .clause-content {
      .clause-title {
         width: 100%;
         color: var(--Black, #19242F);
         font-family: Montserrat;
         font-size: 20px;
         font-style: normal;
         font-weight: 600;
         line-height: 133.4%;
         letter-spacing: 0.4px;
      }

      .text-block {
         width: 100%;
      }

      .img-text-block {
         flex-direction: column;

         img {
            width: 100%;
            height: auto;
         }

         h3 {
            margin-top: 2rem;
         }
      }

      p {
         width: 100%;
         color: var(--Black, #19242F);
         font-family: Montserrat;
         font-size: 14px;
         font-style: normal;
         font-weight: 400;
         line-height: 185.9%;
         letter-spacing: 0.28px;
      }

      .text-img-block {
         img {
            height: 225px;
         }
      }
   }
}